{% extends "base.html" %}

{% block title %}Vedette - Login{% endblock %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-5">
            <div class="card border-0 my-5">
                <div class="card-body p-0">
                    <div class="row">
                        <div class="col-12">
                            <div class="p-5">
                                <div class="text-center">
                                    <h1 class="h4 mb-4">Vedette</h1>
                                </div>
                                <form action="{% url 'login' %}" method="post">
                                    {% csrf_token %}
                                    <div class="mb-3">
                                        <input type="text" class="form-control"
                                               name="username" autofocus=""
                                               autocapitalize="none"
                                               autocomplete="username"
                                               required="" id="id_username"
                                               placeholder="Username"
                                               aria-describedby="usernameHelp">
                                    </div>
                                    <div class="mb-3">
                                        <input type="password"
                                               class="form-control"
                                               name="password"
                                               autocomplete="current-password"
                                               required="" id="id_password"
                                               placeholder="Password">
                                    </div>
                                    {% if form.errors %}
                                    <div class="alert alert-danger p-1">Your
                                        username and password didn't match.
                                        Please try again.
                                    </div>
                                    {% endif %}
                                    <button type="submit"
                                            class="btn btn-primary">Sign In
                                    </button>
                                    {% if next %}
                                    {% if user.is_authenticated %}
                                    <div class="alert alert-warning p-1">Your
                                        account doesn't have access to this
                                        page. To proceed, please login with an
                                        account that has access.
                                    </div>
                                    {% endif %}
                                    <input type="hidden" name="next"
                                           value="{{ next }}">
                                    {% else %}
                                    <input type="hidden" name="next" value="/">
                                    {% endif %}
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
