{% extends 'web/base.html' %}

{% block title %}Vedette - Events{% endblock %}

{% block page_content %}
<div class="row">
    <h1 class="h3 mb-4">Events</h1>

    <table class="table table-striped">
        <thead>
        <tr>
            <th>Event</th>
            <th class="text-center">Level</th>
            <th class="text-center">Status</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for event in object_list %}
        <tr>
            <td>
                <span class="fw-bold">{{ event.message }}</span>
                {% if event.exception_message %}
                <br/>
                <span>{{ event.exception_message }}</span>
                {% endif %}
                <br/>
                <small class="text-secondary">Occurred at {{
                    event.timestamp|date:"r" }} in {{ event.project.name
                    }}</small>
            </td>
            <td class="text-center">
                {% if event.level %}
                {% if event.level == "error" or event.level == "fatal" %}
                <span class="badge bg-danger">{{ event.level }}</span>
                {% elif event.level == "warning" %}
                <span class="badge bg-warning">{{ event.level }}</span>
                {% else %}
                <span class="badge bg-primary">{{ event.level }}</span>
                {% endif %}
                {% else %}
                <span class="badge bg-secondary">Undefined</span>
                {% endif %}
            </td>
            <td class="text-center">
                {% if event.resolved %}
                <span class="badge bg-success">Resolved</span>
                {% else %}
                <span class="badge bg-warning">Unresolved</span>
                {% endif %}
            </td>
            <td class="text-center">
                <div class="btn-group">
                    <a class="btn btn-primary btn-sm"
                       href="{% url 'event-details' event.id %}">View</a>
                    <a class="btn btn-info btn-sm"
                       href="{% url 'event-details-json' event.id %}">Json</a>
                </div>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>

    <nav class="pagination justify-content-center">
        {% if page_obj.has_previous %}
        <li class="page-item"><a class="page-link" href="?page=1">First</a></li>
        <li class="page-item"><a class="page-link"
                                 href="?page={{ page_obj.previous_page_number }}">Previous</a>
        </li>
        {% endif %}

        <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.number }}">Page {{ page_obj.number }}</a>
        </li>

        {% if page_obj.has_next %}
        <li class="page-item"><a class="page-link"
                                 href="?page={{ page_obj.next_page_number }}">Next</a>
        </li>
        <li class="page-item"><a class="page-link"
                                 href="?page={{ page_obj.paginator.num_pages }}">Last</a>
        </li>
        {% endif %}
    </nav>
</div>
{% endblock %}
